{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1>{{ list.data.attributes.canonicalTitle }}</h1>

    <img src="{{ list.data.attributes.coverImage.tiny }}" alt="{{ list.data.attributes.canonicalTitle }}">

    <div>
        <form method="POST" action="/anime/{{ list.data.id }}/favorites" id="anime-like">
            <button class="btn btn-sm {{ 'btn-dark' if list.data.id in g.user.favorites else 'btn-light' }}">
                <a href="/anime/{{ list.data.id }}/favorites">
                    <i class="fa fa-thumbs-up"></i>
                </a> 
            </button>
        </form>
    </div>

    <h4>Overview</h4> 
        <p>
            {{ list.data.attributes.synopsis }}
        </p>   

    <h4>Where to watch?</h4>
        <ul>
            {% if link.data == [] %}
                <p>No Sites Found</p>
            {% else %}
                {% for l in link.data%}
                    <li><a href="{{ l.attributes.url }}">{{ l.attributes.url }}</a></li>
                {% endfor %}  
            {% endif %} 
        </ul>
</div>

{% endblock %}
