{% extends 'base.html' %}

{% block body_class %}error-404{%endblock %}

{% block content %}

  <div class="message-404 container">
    <h4 class="display-4">Sorry, that page doesn't exist!</h4>
    <p class="m-3">
      You can search Weebs using the search box below or
      <a href="/"><b>return to the homepage</b></a>.
    </p>
    <div class="row">
      <div class="col-sm-8 ml-auto mr-auto">
        <form class="form-inline" action="/anime">
          <input name="q" class="form-control mb-0 mr-2" placeholder="Search Weebs">
          <button class="btn btn-default">Search</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}