{% extends 'users/detail.html' %}

{% block user_details %}

<div class="col-lg-6 col-md-8 col-sm-12">
    <div class="row">
        <ul class="list-group" id="anime">
            {% for fav in favorites %}
                <li class="list-group-item">
                    <a href="/favorites/{{ fav.id  }}"   class="message-link"></a>
                    <a href="/users/{{ fav.user.id }}">
                        <img src="{{ fav.user.image_url }}" alt=""  class="timeline-image">
                    </a>
  
                {% if user.id == g.user.id %}
                    <form action="/anime/{{ fav.id }}/favorites" method="POST">
                        <button class="btn btn-sm {{'btn-dark'}}">
                            <a href="/anime/{{ fav.id }}/favorites">
                                <i class="fa fa-thumbs-up"></i>
                            </a> 
                        </button>
                    </form>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}